<div class="fotter_app box_sha">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="const_fotter">
					<div class="lofo_fotter"></div>
					<div class="list_links">
						<li><span class="cwI-cheveron-right tt_02"></span><a href="#" onclick="showpage('docs', '', 'Documentacion')">Documentacion</a></li>
						<li><span class="cwI-cheveron-right tt_02"></span><a href="#" onclick="showpage('faq', '', 'FAQ')">FAQ</a></li>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				
			</div>
			<div class="col-md-3">
				<div class="const_fotter">
					<div class="redes_title">
						Redes Sociales
					</div>
					<div class="redes">
						<div class="rede_conts">
							<div class="rede_ico cwI-facebook"></div>
						</div>

						<div class="rede_conts">
							<div class="rede_ico cwI-twitter"></div>
						</div>

						<div class="rede_conts">
							<div class="rede_ico cwI-youtube"></div>
						</div>

						<div class="rede_conts">
							<div class="rede_ico cwI-github"></div>
						</div>
					</div>
				</div>
					

			</div>
		</div>																																		
	</div>
</div>