<div class="menu_app box_sha">
	<div class="menu_app_cog">
		<a href="#" class="cwI-cog2" onclick="showpage('configweb', '', 'Configuracion')"></a>
	</div>
	<div class="container web_h-all">
		<div class="row web_h-all">
			<div class="col-md-2 web_h-all">
				<div class="logo"></div>
			</div>
			<div class="col-md-6 web_h-all">
				<div class="link_menu">
					<div class="dropdown menu_hide">
					  <a class="btn_app_menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Menu
					  </a>

					  <div class="dropdown-menu dr_set" aria-labelledby="dropdownMenuLink">
					  </div>
					</div>
					<div class="menu_ef">
							<a class="menu_app_rem" href="#" onclick="showpage('home', '', 'Home')">
								Inicio
							</a>
							<a class="menu_app_rem" href="#" onclick="showpage('faq', '', 'FAQ')">
								FAQ
							</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 web_h-all web_of-h">
				<div class="search_form">
					<div class="icon_search" data-active="true" onclick="showpage('buscador', '', 'Search')">
						<span class="cwI-search3 busq_ico"></span> <div class="text_search">Search</div>
					</div>
					<div class="conts_btn" id="conts_btn">
						<div class="usdata">
							<div class="usdata_img" style="background-image: url(https://i.imgur.com/nJi56nZ.jpg);">
								<div class="icono_open cwI-cheveron-down tt_02"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="barra_progrees"><div class="set_progrees progrees_bar"></div></div>
</div>
<div class="close_poup"></div>
<div class="menu_poup tt_02 box_sha">
	<a href="#" class="adds_link" onclick="showeditor('newart', 'Agregar articulo')">Nuevo Articulo</a>
	<a href="#" class="adds_link" onclick="showeditor('editor', 'Editar')">Editar Articulo</a>
</div>
