<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="script-src 'self' 'unsafe-inline';" http-equiv="Content-Security-Policy" />
  <title>AppWebCat</title>
  <link rel="stylesheet" href="../../../aplication/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="web_loader">
    <div class="title_app_loader">AppWebCat</div>
    <div class="data_loader">
      <div class="iconoapp"></div>
      <div class="centerloader">
        <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
      </div>

    </div>
    <div class="version_cog text-center">
      <span class="text_all">Installing Update</span>
    </div>
  </div>
  
</body>
</html>
