<div class="hmin over_h">
  <div class="cog_conts">
    <div class="title_cog">
      AppWebCat
      <div class="by_user">
        DtoLKD
      </div>
    </div>
    <div class="version_cog text-center">
      <span class="text_all">App</span> <span>-</span> <span class="version_app">0.0.0</span>
      <span>|</span>
      <span class="text_all">Code</span> <span>-</span> <span class="vcode">0.0.0</span>
    </div>
    <form class="updatecog" autocomplete="off" spellcheck="false" method="post">


      <div class="conts_input">
        <div class="title_input_all">Automatic Download</div>
        <div class="forms_all">
          <div class="icono_input cwI-zip"></div>
          <input type="text" class="form-control input_value_tiempo" readonly placeholder="...">
          <div class="contener_btn contener_btn_z">
            <div class="dropdown">
              <div class="btn btn-danger dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item settime_dwn" href="#" data-tipo="1/All">Siempre</a>
                <a class="dropdown-item settime_dwn" href="#" data-tipo="1">Todos los Dias</a>
                <a class="dropdown-item settime_dwn" href="#" data-tipo="1/7">Cada 7 Dias</a>
                <a class="dropdown-item settime_dwn" href="#" data-tipo="1/30">Cada Mes</a>
                <a class="dropdown-item settime_dwn" href="#" data-tipo="0">Nunca</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="conts_input">
        <div class="title_input_all">Update</div>
        <div class="forms_all">
          <div class="icono_input cwI-download3"></div>
          <input type="text" class="form-control input_value_update" placeholder="...">
          <div class="contener_btn">
            <div class="btn btn-danger click_down">Download</div>
          </div>
        </div>
      </div>

      <div class="conts_input text-right">
        <div class="btn btn-danger save_cog" data-ruta="<%= file_cog %>">Guardar</div>
      </div>


    </form>
  </div>
</div>
