<div class="zoomimg_close zoomimg" data-ver='hide'>

</div>
<div class="zoomimg_cuerpo zoomimg" data-ver='hide'>
  <img src="https://i.imgur.com/HuqycJm.jpg" class="setzoomimg">
</div>
<div class="video_all_info_download">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="breadcrumb">
      <li class="breadcrumb-item"><a href="#" onclick="showpage('home', '', 'Home')">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
  <div class="zona-video">
    <div class="youtube-player box_sha" data-id="DaasZU-d1dc"></div>
  </div>

  <div class="edit_cuerpo">
    <div class="row-app" id="caps">

      <div class="col-app col-app-5">
        <div class="img_ver" style="background-image: url();">

        </div>
      </div>

    </div>

  </div>

  <div class="separator info_all">
    ::h1-mb-0;Informacion::/h1;Incluye: Hell’s Rangers
    OUTRIDERS es un juego de rol y disparos cooperativo para 1-3 jugadores ambientado en un universo de ciencia ficción original, oscuro y salvaje.

    Mientras la humanidad perece en las trincheras de Enoch, tú crearás a tu propio Outrider y te embarcarás en una aventura por un planeta hostil.

    Con una historia intrincada que transcurre en un mundo muy diverso, dejarás atrás las chabolas de la primera ciudad para recorrer bosques, montañas y desiertos tras la pista de una misteriosa señal.

    Al combinar tiroteos intensos con poderes brutales y un arsenal de armas y equipo cada vez más complejo, OUTRIDERS ofrece innumerables horas de juego de la mano de los mejores desarrolladores de shooters de la industria: People Can Fly.Los
    combates brutales y sangrientos de OUTRIDERS combinan tiroteos intensos, poderes violentos y mecánicas de rol complejas para dar lugar a un verdadero híbrido de géneros.Juega en solitario o acompañado de hasta dos amigos en un modo cooperativo
    drop-in drop-out para enfrentarte a los horrores de un planeta superevolucionado.Crea y personaliza tu propio Outrider y elige entre cuatro clases únicas, cada una con un árbol de habilidades propio para definir tu estilo de juego.Personaliza y
    mejora tu Outrider con infinidad de objetos, armas y equipo modificables mientras dejas atrás a la humanidad.
    Ahora hay 75929 personas jugando a este juego en Steam

    ::h1-mb-0;Requisitos::/h1;::h4-mb-0;Minimos:::/h4;SO: Microsoft Windows XP o Windows Vista (soportadas Versiónes de 64 bits)
    Procesador: Pentium 4 a 3.2 Ghz, Pentium D a 2.66 Ghz, AMD Athlon 64 3500+ o superior
    Memoria: 1 GB de RAM
    Gráficos: nVidia 6800 / ATI X1650 o superior con 256 MB y con soporte para Shader Model 3.0*
    Disco Duro: 3.5 GB de espacio libre (múltiples partidas guardadas y mapas creados por el usuario aumentarán la cantidad de espacio necesaria en el disco duro)
    *Gráficas Soportadas: Familias nVidia 6800, 7000, 8000, 9000 y 200. 8800M y 8700M soportadas para portátiles. Familias ATI X1650 1950, HD2000, HD3000 y HD4000

    ::h4-mb-0;Recomendados:::/h4;Procesador: Familia Intel Core 2 Duo, AMD 64 X2 5200+, AMD Phenom o superior
    Memoria: 2 GB de RAM
    Gráficos: nVidia 8600 GTS o superior, ATI X1900 o mejor con 512 MB de VRAM*
    Sonido: Recomendado dispositivo de sonido 5.1

    ::h1-mb-0;Zona de Descarga::/h1;
    ::h6-mb-0;hola, soy @lokuedo5000 y como no cuento con entradas de ingresos le puse a los enlaces publicidad pasiva, que significa pasiva pues es fácil, al momento de abrir un enlace se le abre dos pestañas del navegador una es publicidad y la
    otra es un enlace de AdFly solo espera 5 segundo y listo, no tienes que presionar ningún botón que diga permitir::/h6;
    ::h5-mb-0;Parte 1::/h5;::a;https://www.mediafire.com/file/u2hl6ukj8gvqcvc/ACL.part01.rar/file::/a;

    ::h5-mb-0;Parte 2::/h5;::a;https://www.mediafire.com/file/u5tmwa8p3zqhh06/ACL.part02.rar/file::/a;
  </div>
  <div class="separator requisitosall">
  </div>
</div>
