<div class="container">
	<div class="categoria_sisten">
		<!-- Example single danger button -->
		<div class="btn-group">
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sistema
			</button>
			<div class="dropdown-menu">
				<h6 class="dropdown-header">PC</h6>
				<a class="dropdown-item" href="#">Windows</a>
				<h6 class="dropdown-header">Movil</h6>
				<a class="dropdown-item" href="#">Android</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Pedir</a>
			</div>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-danger dropdown-toggle vergenero" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-genero="">
				<span class="setgne">Generos</span> <span class="genetotal">*(0)</span>
			</button>
			<div class="dropdown-menu" id="load_generos">
				<!-- <a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a> -->
			</div>
		</div>
		<button class="btn btn-danger click_gene d-none">Click</button>
	</div>
	<div class="pd_tb min-h">
		<div class="conts_home box_sha">
			<div class="edit_cuerpo">
				<div class="row-app" id="load_data_games">

					<div class="col-app col-app-5">
						<div class="covers tt_02">
							<div class="zom_cover box_sha" style="background-image: url(https://i.imgur.com/Omodx7q.jpg);">
								<div class="ico_uploader" style="background-image: url(https://i.imgur.com/nJi56nZ.jpg);"></div>
								<div class="server_up mega">Mega</div>
								<div class="peso_file">2,3 GB</div>
								<div class="gradient_cover"></div>
							</div>
						</div>
						<h6 class="titulo_cover">Nombre del Juego</h6>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
	<ul class="justify-content-center text-center">
		<button class="btn btn-danger clear_item" data-num="">Clear</button>
		<button class="btn btn-danger add_item" data-num="">Cargar <span class="numall">*0</span></button>
		<button class="btn btn-danger counts_item d-none">0</button>
		<button class="btn btn-danger veri_item d-none">0</button>
	</ul>
</nav>
