<div class="container hmin">
  <form method="post" class="addforms">
    <h3 class="pt-1 pb-1">Agregar nuevo Articulo</h3>
    <div class="parte_all parte_one">
      <div class="buscador_edit pt-2 pb-2">
        <div class="form-group">
          <label for="tipo">Tipo de Articulo</label>
          <select class="form-control btn btn-light" name="tipo" onchange="">
            <option value="" selected>--Select</option>
            <option value="Games">Juegos</option>
            <option value="Programs">Programas</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipo">Estado</label>
          <select class="form-control btn btn-light" name="state">
            <option value="" selected disabled>--Select</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>

      <div class="row d-none">
        <div class="col">
          <div class="form-group">
            <label for="web">ID</label>
            <input type="text" class="form-control setidart" name="id" placeholder="...">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="temp" class="text_set_title">Fecha</label>
            <input type="text" class="form-control setfechaart" name="fecha" placeholder="...">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="web">Titulo del articulo</label>
            <input type="text" class="form-control" name="titulo" placeholder="...">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="temp" class="text_set_title">Video ID</label>
            <input type="text" class="form-control" name="video" placeholder="...">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="temp" class="text_set_title">Imagen del Articulo</label>
        <input type="text" class="form-control" name="img" placeholder="...">
      </div>

      <div class="form-group">
        <label for="temp" class="text_set_title">Capturas</label>
        <textarea name="capturas" class="form-control" rows="4" cols="80" placeholder="..."></textarea>
      </div>

      <div class="form-group">
        <label for="temp" class="text_set_title">Descripcion breve</label>
        <textarea name="dcp" class="form-control" rows="4" cols="80" placeholder="..."></textarea>
      </div>

      <div class="form-group">
        <label for="dcp">Descripcion Completa</label>
        <textarea name="infoall" class="form-control ejemploinfo" rows="20" cols="80" placeholder="..."></textarea>
      </div>
    </div>
    <div class="parte_all parte_two">
      <div class="form-group">
        <label for="web">Propietarios de los enlaces</label>
        <input type="text" class="form-control" name="web" placeholder="..." value="-app">
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="web">Peso</label>
            <input type="text" class="form-control" name="peso" placeholder="...">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="temp" class="text_set_title">Servidor</label>
            <input type="text" class="form-control" name="servidor" placeholder="...">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="temp" class="text_set_title">Generos</label>
        <textarea name="genero" class="form-control" rows="4" cols="80" placeholder="..."></textarea>
      </div>

      <div class="form-group">
        <label for="temp" class="text_set_title">Tags</label>
        <textarea name="tags" class="form-control" rows="4" cols="80" placeholder="..."></textarea>
      </div>
    </div>
    <div class="parte_all parte_three">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="web">Usuario</label>
            <input type="text" class="form-control" name="uploader" placeholder="..." value="-app">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="temp" class="text_set_title">Imagen del Usuario</label>
            <input type="text" class="form-control" name="userimg" placeholder="..." value="-app">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="p-2 text-right">
    <div class="btn btn-danger" onclick="newartSet('parte_one', '')">Parte *1</div>
    <div class="btn btn-danger" onclick="newartSet('parte_two', '')">Parte *2</div>
    <div class="btn btn-danger" onclick="newartSet('parte_three', 'final')">Final</div>
    <div class="btn btn-primary setadd_art">Guardar</div>
  </div>
</div>
