<div class="contenedor_buscador">
  <div class="buscador_center">
    <div class="buscador_text">
      
    </div>
    <div class="autoComplete_wrapper">
      <input id="autoComplete" type="text" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1">
    </div>
    <div class="selection"></div>

    <button class="btn btn-primary btnl_run_search d-none">Click</button>

    <div class="resultados" id="resultados">
      <!-- <div class="search_art">
        <div class="us_ver_uploader">
          <span class="appin">AppWebCat</span><span class="appin">lokuedo5000</span>
        </div>
        <div class="titulo_search">Assassin's Creed III: Liberation</div>
        <div class="dcp_search">
          Assassin's Creed III: Liberation es un videojuego histórico de acción-aventura de mundo abierto y de sigilo desarrollado por Ubisoft Sofia​ y Ubisoft Milan anunciado en un principio...
        </div>
      </div> -->
    </div>
  </div>

</div>
